.idea/
vendor
*.exe
glide.lock
*.DS_Store
.project
.vscode/
go.sum
*.db

# binary files
cmd/core-command/core-command
cmd/core-data/core-data
cmd/core-metadata/core-metadata
cmd/export-client/export-client
cmd/export-distro/export-distro
cmd/support-logging/support-logging
cmd/support-notifications/support-notifications
cmd/sys-mgmt-agent/sys-mgmt-agent
cmd/support-scheduler/support-scheduler
cmd/edgex/edgex
docs/_build/

# log dirs
**/logs

go.sum
